# Medical Insurance Costs Analysis
This notebook analyzes data from [Kaggle's Medical Cost Personal Datasets](https://www.kaggle.com/datasets/mirichoi0218/insurance) and aims to answer four main questions. 

1. What is the average age of the patients in the dataset?
2. Where a majority of the individuals are from?
3. Are insurance costs significantly different between smokers and non-smokers?
4. Do children have a signficant effect of a patient's insurance cost? 

First, let's load the data using Pandas.

In [36]:
import pandas as pd
import seaborn as sns

insurance_df = pd.read_csv('insurance.csv')

insurance_df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## 1. Average age of patients
Since the average is heavily influence by outliers, the median will also be calculated to determine if the average is a meaningful measure of central tendency.

In [31]:
avg_age = round(insurance_df['age'].mean(), 2)
med_age = round(insurance_df['age'].median(), 2)

print(f'The average age of patients in the dataset is {avg_age}')
print(f'The median age of patients in the dataset is {med_age}')

The average age of patients in the dataset is 39.21
The median age of patients in the dataset is 39.0

Since the average and median values are very close, the average age of 39.21 for patients is a meaningful measure of central tendency in the dataset.

## 2. Where a majority of the individuals are from?
Next, the region column will be analyze to determine where are the majority of patients are from. First, let's see what regions we are dealing with.

In [32]:
distinct_regions = insurance_df['region'].unique()

print(f'There are a total of {len(distinct_regions)} distinct regions in the dataset that include: {distinct_regions}')

There are a total of 4 distinct regions in the dataset that include: ['southwest' 'southeast' 'northwest' 'northeast']

Futhermore, let's determine if the majority of patients are in a one region or if patients are evenly distributed among all regions. A dictionary will be created to keep the data organization.

In [43]:
region_counts = []

for reg in distinct_regions:
    print(insurance_df.loc[insurance_df['region'] == reg])

      age     sex   bmi  children smoker     region      charges
0      19  female  27.9         0    yes  southwest  16884.92400
12     23    male  34.4         0     no  southwest   1826.84300
15     19    male  24.6         1     no  southwest   1837.23700
18     56    male  40.3         0     no  southwest  10602.38500
19     30    male  35.3         0    yes  southwest  36837.46700
...   ...     ...   ...       ...    ...        ...          ...
1316   19  female  20.6         0     no  southwest   1731.67700
1329   52    male  38.6         2     no  southwest  10325.20600
1331   23  female  33.4         0     no  southwest  10795.93733
1332   52  female  44.7         3     no  southwest  11411.68500
1336   21  female  25.8         0     no  southwest   2007.94500

[325 rows x 7 columns]
      age     sex    bmi  children smoker     region     charges
1      18    male  33.77         1     no  southeast   1725.5523
2      28    male  33.00         3     no  southeast   4449.4620
5      31  female  25.74         0     no  southeast   3756.6216
6      46  female  33.44         1     no  southeast   8240.5896
11     62  female  26.29         0    yes  southeast  27808.7251
...   ...     ...    ...       ...    ...        ...         ...
1322   62    male  38.83         0     no  southeast  12981.3457
1323   42  female  40.37         2    yes  southeast  43896.3763
1327   51    male  30.03         1     no  southeast   9377.9047
1330   57  female  25.74         2     no  southeast  12629.1656
1335   18  female  36.85         0     no  southeast   1629.8335

[364 rows x 7 columns]
      age     sex     bmi  children smoker     region      charges
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
7      37  female  27.740         3     no  northwest   7281.50560
9      60  female  25.840         0     no  northwest  28923.13692
24     37    male  28.025         2     no  northwest   6203.90175
...   ...     ...     ...       ...    ...        ...          ...
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1324   31    male  25.935         1     no  northwest   4239.89265
1333   50    male  30.970         3     no  northwest  10600.54830
1337   61  female  29.070         0    yes  northwest  29141.36030

[325 rows x 7 columns]
      age     sex     bmi  children smoker     region      charges
8      37    male  29.830         2     no  northeast   6406.41070
10     25    male  26.220         0     no  northeast   2721.32080
16     52  female  30.780         1     no  northeast  10797.33620
17     23    male  23.845         0     no  northeast   2395.17155
20     60  female  36.005         0     no  northeast  13228.84695
...   ...     ...     ...       ...    ...        ...          ...
1321   62    male  26.695         0    yes  northeast  28101.33305
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1328   23  female  24.225         2     no  northeast  22395.74424
1334   18  female  31.920         0     no  northeast   2205.98080

[324 rows x 7 columns]